__pycache__
output_V1/
output_V2/
data/
logs/
bs_ress_dicts/
rep_mappings/
rep_structures/
res_tables/
segment_rep_dicts/
site_tables/
sum_stats/
entry_names/
mappings/OLD/pdb2up/
mappings/OLD/up2pdb/
mappings/pdb2up/
mappings/up2pdb/
site_tables_OLD/
structures/cif/
structures/pdb/
biolip_up_ids_15000_accs.pkl
ligysis_flask/
sample_colors_hex.pkl
./run_ligysis_V2.sh
LIGYSIS_V3_error_accs_1.txt
LIGYSIS_V3_error_accs_2.txt
LIGYSIS_V3_unproc_accs_1.txt
